{% extends "VetBooker/layout.html" %}
{% load static %}
{% block body %}
{% csrf_token %}
<h3 class="pageTitle">Book appointment:</h3>

<div class="flex-column fortyVW marginsAuto">
    <div class="flex-spaced-between">
        <p>Customer Telephone</p>
        <input type="text" placeholder="0480 12 34 56" id="bookingPhonenumber">
    </div>
    <br>
    <div class="flex-end">
        <button class="marginsAuto" id="selectClient">Select Client</button>
        <button class="marginsAuto" id="reselectClient" onclick="enableSearch()">Reset</button>
    </div>
</div>
<br>
<!-- Below, the div will appear after the number is searched -->
<div id="clientInformation" class="flex-column fortyVW marginsAuto notVisible">
    <div class="flex-spaced-between">
        <p>Client Name:</p>
        <p id="customerName">Client Name</p>
    </div>
    <div class="flex-spaced-between">
        <label for="petSelect">Pet:</label>
        <p id="petChoice" name="petChoice"><select id="petSelect" name="petSelect"><option disabled selected>Pet Name</option></select></p>
    </div>
    <div class="flex-spaced-between">
        <label for="petSelect">Notes:</label>
        <textarea class="wideArea" id="clientNotes"></textarea>
    </div>
    <div class="flex-spaced-between">
        <label for="medicalDomainSelector">Speciality:</label>
        <p id="medicalDomain">
            <select name="medicalDomainSelector" id="medicalDomainSelector">
                <option value="General">General</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Internal Medicine">Internal Med.</option>
                <option value="Ophthamology">Ophthamology</option>
                <option value="Neurology">Neurology</option>
                <option value="Oncology">Oncology</option>
                <option value="Urology">Urology</option>
                <option value="Rheumatology">Rheumatology</option>                
            </select></p>
    </div>
    <div class="flex-spaced-between">
        <label for="durationSelector">Duration:</label>
        <p id="duration">
            <select name="durationSelector" id="durationSelector">
                <option value="0">Consult: 15 Min.</option>
                <option value="1">Exam: 30 Min.</option>
                <option value="2">Small Op.: 1 hr.</option>
                <option value="3">Complex: 2 hr.</option>               
            </select></p>
    </div>
    <div class="flex-spaced-between">
        <button id="medicalDomainSelect" class="marginsAuto">Choose Doctor</button>
    </div>
</div>
<div id="doctorList" class="flexGallery"></div>
<div class="appointmentList flexGallery" id="appointmentList"></div>

<div id="paginationDiv" class="flex-column flexGallery notVisible">
    <div class="Top" id="pDiv" style="text-align: right; margin-right: 10px;"><a id="previous" onclick="paginate('left')">Previous</a> | <a id="next" onclick="paginate('right')">Next</a></div>
    
    <div class="Bottom flex-column fortyVW marginsAuto">
        <div class="Bottom"><h6 class="centerText">Looking for a custom date?</h6></div>
        <div class="item">
            <label style="display: inline; margin-right: 10px;" for="customInput">Custom Date</label>
            <input style="display: inline; margin-right: 10px;" type="date" name="customInput" id="customInput">
        </div>
        <div class="item">
            <label style="display: inline; margin-right: 10px;" for="customMedicalDomainSelector">Doctor:</label>
            <select name="customMedicalDomainSelector" id="customMedicalDomainSelector" style="display: inline; margin-right: 10px;">
                {% for vet in vetlist %}
                <option value="{{ vet.id }}">{{ vet.vet }}</option>
                {% endfor %}                
            </select>
        </div>
        <div class="item">
            <label style="display: inline; margin-right: 10px;" for="customDurationSelector">Duration:</label>
            <select style="display: inline; margin-right: 10px;" name="customDurationSelector" id="customDurationSelector">
                <option value="0">Consult: 15 Min.</option>
                <option value="1">Exam: 30 Min.</option>
                <option value="2">Small Op: 60 Min.</option>
                <option value="3">Complex: 120 Min.</option>               
            </select>
        </div>
        <div class="item">
        <button style="display: inline; margin-right: 10px;" id="customDay">Check Availability</button>
        </div>
    <div class="Bottom flex-end" id="customAppointment"></div>
    </div>
    </div>
    
    
    <!--The below needs to be formated to not look really bad. Also setting class for now to not visible so I Don't forget.-->
    <div id="bg"></div>
    <div class="modal notVisible flex-column-nowrap" id="confirmationModal">
        <div><h2 class="modal-title" id="modalTitle"></h2></div>
        <div class="container">
            
            <div class="flex-row long" id="modalBox">
                <div class="flex-column modal-categories">
                    <p>Pet:</p>
                    <p>Domain:</p>
                    <p>Doctor:</p>
                    <p>Day:</p>
                    <p>Time:</p>
                    <p>Duration:</p>
                    <p>Note:</p>
                </div>
                <div class="flex-column modal-information">
                    <p id="modalPet">Sample</p>
                    <p id="modalType">Sample</p>
                    <p id="modalDoctor">Sample</p>
                    <p id="modalDay">Sample</p>
                    <p id="modalTime">Sample</p>
                    <p id="modalDuration">Sample</p>
                    <p id="modalNote" class="modal-notes">Lorem Ipsem la de da</p>
                </div>
                <div class="confirmation">
                    <button id="confirm">Confirm</button>
                    <button id="reject" onclick="closeModal()">Cancel</button>
                </div>
        </div>
    </div>
           
            

        

{% endblock %}