{% extends "VetBooker/layout.html" %}
{% load static %}
{% block body %}
{% csrf_token %}
<h3 class="pageTitle">Book appointment:</h3>

<div class="flex-column fortyVW marginsAuto">
    <div class="flex-spaced-between">
        <p>Customer Telephone</p>
        <input type="text" placeholder="0480 12 34 56" id="bookingPhonenumber">
    </div>
    <br>
    <div class="flex-spaced-between">
        
        <button class="marginsAuto">Select Client</button>
    </div>
</div>
<br>
<!-- Below, the div will appear after the number is searched -->
<div class="flex-column fortyVW marginsAuto">
    <div class="flex-spaced-between">
        <p>Client Name:</p>
        <p id="customerName">Placeholder</p>
    </div>
    <div class="flex-spaced-between">
        <label for="petSelect">Pet:</label>
        <p id="petChoice" name="petChoice"><select id="petSelect" name="petSelect"><option>Example</option><option>Example 2</option></select></p>
    </div>
    <div class="flex-spaced-between">
        <label for="medicalDomainSelector">Speciality:</label>
        <p id="medicalDomain">
            <select name="medicalDomainSelector" id="medicalDomainSelector">
                <option value="General">General</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Internal Medicine">Internal Medicine</option>
                <option value="Ophthamology">Ophthamology</option>
                <option value="Neurology">Neurology</option>
                <option value="Oncology">Oncology</option>
                <option value="Urology">Urology</option>
                <option value="Rheumatology">Rheumatology</option>                
            </select></p>
    </div>
    <div class="flex-spaced-between">
        <label for="durationSelector">Duration:</label>
        <p id="duration">
            <select name="durationSelector" id="durationSelector">
                <option value="0">Consulatation: 15 Minutes</option>
                <option value="1">Examination: 30 Minutes</option>
                <option value="2">Small Procedure: 60 Minutes</option>
                <option value="3">Complex Procedure: 120 Minutes</option>               
            </select></p>
    </div>
    <div class="flex-spaced-between">
        <button id="medicalDomainSelect" class="marginsAuto">Choose Doctor</button>
    </div>
</div>
<div id="doctorList" class="flexGallery"></div>
<div class="appointmentList flexGallery" id="appointmentList"></div>
<div id="paginationDiv" class="flex-column flexGallery notVisible"><div class="Top" style="text-align: right; margin-right: 10px;"><a id="previous" onclick="paginate('left')">Previous</a> | <a id="next" onclick="paginate('right')">Next</a></div><div class="Bottom flex-row"><label style="display: inline; margin-right: 10px;" for="customInput">Custom Date</label><input style="display: inline; margin-right: 10px;" type="date" name="customInput" id="customInput">
    
    <label style="display: inline; margin-right: 10px;" for="customMedicalDomainSelector">Doctor:</label>
        <select style="display: inline; margin-right: 10px;" name="customMedicalDomainSelector" id="customMedicalDomainSelector">
            {% for vet in vetlist %}
            <option value="{{ vet.id }}">{{ vet.vet }}</option>
            {% endfor %}                
        </select>
        <label style="display: inline; margin-right: 10px;" for="customDurationSelector">Duration:</label>
            <select style="display: inline; margin-right: 10px;" name="customDurationSelector" id="customDurationSelector">
                <option value="0">Consulatation: 15 Minutes</option>
                <option value="1">Examination: 30 Minutes</option>
                <option value="2">Small Procedure: 60 Minutes</option>
                <option value="3">Complex Procedure: 120 Minutes</option>               
            </select>
        <button style="display: inline; margin-right: 10px;" id="customDay">Check Availability</button></div>
    <div class="Bottom flex-row" id="customAppointment"></div>
{% endblock %}