{% extends "VetBooker/layout.html" %}
{% load static %}
{% block body %}
{% csrf_token %}
<h3 class="pageTitle">Appointment for {{ pet_name }}</h3>

<table class="centered bookingListing" >
    <thead> 
        
            <th colspan="2" class="centerText">
                {{ booking_name }}
            </th>
        
    </thead>
    <tbody>  
    <tr>
        <td>
            Client:
        </td>
        <td>
            {{ client_name }}
        </td>
    </tr>
    <tr>
        <td>
            Pet:
        </td>
        <td>
            {{ pet_name }}
        </td>
    </tr>
    <tr>
        <td>
            Vet:
        </td>
        <td>
            {{ vet_name }}
        </td>
    </tr>
    <tr>
        <td>
            Date:
        </td>
        <td>
            {{ date }}
        </td>
    </tr>
    <tr>
        <td>
            Time:
        </td>
        <td>
            {{ time }}
        </td>
    </tr>
    <tr>
        <td>
            Duration:
        </td>
        <td>
            {{ duration }}
        </td>
    </tr>
    <tr>
        <td>
            Notes:
        </td>
        <td>
            {{ note }}
        </td>
    </tr>
    </tbody>
</table>
<br>
<div class="flex-row-forty">
    <button onclick="start_cancel()">Cancel Booking</button>
</div>

<div class="modal notVisible flex-column fortyVW" id="modal">
    <div style="height: 75%;">
    <h5 style="margin-top: 20%; text-align: center; line-height: 1.5;">Are you sure you want to cancel <span class="red">{{ pet_name }}'s</span> appointment on <span class="red">{{ date }}</span> at <span class="red">{{ time }}</span>?</h5>
    </div>
    <div class="flex-spaced">
        <button style="width: 25%; margin-bottom: 10px;" value="{{ booking_id }}" id="yes">Yes</button> <button style="width: 25%; margin-bottom: 10px;" value="no" id="no">No</button>
    </div>

</div>


{% endblock %}