button {
    border-radius: 4px;
    border: none;
}

.centered {
    margin: auto;
}

button:hover {
    
    background-color: #2b3035;
}

.form-control {
    width: 50vw;
    margin: auto;
    margin-bottom: 10px;
}

.marginAuto {
    margin-left: 40%;
}

.marginsAuto {
    margin: auto;
}

.centerText {
    text-align: center;
}

.pageTitle {
    background-color: #2b3035;
    padding: 5px;
}

.hundredW {
    width: 100%;
}

.hundredPixels {
    width: 100px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fifty {
    width: 50%;
}

.flex-center-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-center-wrap-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 40vw;
    min-width: 400px;
}

.flex-wrap-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

.fortyVW {
    width: 40vw;
}

.flex-spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexGallery {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.appointmentDiv {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #2b3035;
    border-radius: 5px;
}

.appointmentDiv:hover {
    cursor: pointer;
    background-color:#535353;
}

.vetSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 110px;
    border-radius: 10px;
    background-color: #2b3035;
    border: 1px solid gray;
    color: white;
}

.highlight:hover {
    cursor: pointer;
    background-color:#535353;
}

.flex-spaced-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-spaced-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    gap: 20px;
}

.textRight {
    text-align: right;
    margin-left: 10px;
}

#managePets {
    width: 50vw;
    margin: auto;
    margin-top: 15px;
}

#categories {
    width: 15vw;
}

#results {
    width: 30vw;
}

.customerResults {
    width: 45vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.wideArea {
    width: 60%;
    height: 150px;
    margin-bottom: 15px;
    
}

.notVisible {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
}

label {
    display: block;
    margin-bottom: 5px;
}

.petList {
    border-bottom: 1px solid grey;
}

.twenty {
    margin: auto;
    width: 15vw;
    min-width: 180px;
}
.hoverClick:hover {
    cursor: pointer;
    color: #fff;
    border-bottom: 1px dotted white;
}

#managementDiv {

    width: 50vw;
    margin: auto;
}

.clearInput {
    background-color: none;
    background: none;
    border: none;
    outline: none;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

#paginationDiv {
    displaY: flex;
    flex-wrap: wrap;
    flex: auto;
    /* border: 1px solid red; */
}

.modal {
    
    position: absolute;
    display: flex;
    width: 50vw;
    height: 40vh;
    z-index: 9999;
    left: 25vw;
    top: 25vh;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #191c1f;
}

.container {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.selected{
    background-color: #191c1f;
}

.vetSelector:hover {
    background-color: #5e5e5e

}

.modal-categories {
    width: 20%;
    height: 100%;
}

.modal-information {
    width: 50%;
    height: 100%;

}

.modal-title {
    padding-left: 10px;
    width: 100%;
    background-color: #2b3035
}

.confirmation {
    height: 100%;
    width: 30%;
    gap: 10px;    
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.long {
    height: 100%;
}

.successful {
    text-align: center;
    margin: auto;
    background-color: #22643b;
    color: azure;
}

.bookingListing {
    margin-top: 50px;
    width: 40vw;
    min-width: 300px;
}

thead {
    background-color: #2b3035;
    border-bottom: 1px dashed grey;
}
tr:nth-child(even) {
    background-color: #2b3035;
  }

td:nth-child(odd) {
    width: 100px;
    border-right: 1px dashed grey;
}
td:nth-child(even) {
    padding-left: 3px;
}

.threeQuartersHeight {
    height: 75%;
}

.thirtyVW {
    width: 35vw;
    height: 35vh;
}

.wrap {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}